<div class="contact-inner">
    <div class="contact-phone">
        <ul>
            <li><i class="fa fa-phone"></i></li>
            <li><span>+8801645386422</span></li>
            <li><span>+8801645386422</span></li>
        </ul>
    </div>
    <div class="contact-address">
        <ul>
            <li><i class="fa fa-location-arrow"></i></li>
            <li><p>Keshabpur, Jashore, Khulna, Bangladesh</p></li>
        </ul>
    </div>
    <div class="contact-info">
        <ul>
            <li><i class="fa fa-envelope"></i></li>
            <li><a href="#">hmdfahim420@gmail.com</a></li>
            <li><a href="#">mdfahimhossainsujon@gmail.com</a></li>
        </ul>
    </div>
</div>
<div class="contact-maps">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d235274.15303181484!2d89.06967955275302!3d22.870597386785803!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39ff6e17b1383995%3A0x6006eb96976eab9d!2sKeshabpur%20Upazila!5e0!3m2!1sen!2sbd!4v1683607470023!5m2!1sen!2sbd" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>

