<div class="login-form">
    <div class="login">
        <h2>Login From</h2>
    <div class="login-box">
        <form action="">
            <input type="text" placeholder="Username" required>
            <input type="password" placeholder="Password" required>
            <div class="remember-login">
                <input type="checkbox" required> <span>Remember Me</span>
            </div>
            <div class="user-login">

            <a href="#">Need An Account?</a>
            <a href="#">Forgot Password</a>

            </div>
            <button type="submit">Login</button>
        </form>

    </div>
    </div>
    
</div>
