<!-- about me section -->
<div class="about-inner">
    <div class="about-img">
        <img src="../../../assets/img/00.fb profile pic.jpg" alt="">
    </div>
    <div class="about-content">
        <p>Hi, I'm Md. Fahim Hossen, a passionate self-taught programmer from Bangladesh. Basically I build several web application based on JavaScript. I tend to make use of modern web technologies to build websites that look great, feel fantastic, and catch user's eye. I am especially focusing on AngularJS.</p>
        <p>I also do Graphic Designer and Digital Marketing. Since I love both, programming and designing. I'm also interested in open source, and creative coding projects.</p>
        <div class="about-social">
            <ul>
                <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-pinterest"></i></a></li>
            </ul>
        </div>
    </div>
</div>